
{% extends "base.html" %}

<body>
{% block content %}
<div class="container">
    <div class="row">

        <form method="POST" action="{% url 'update_post' %}">
           {% csrf_token %}
          <input type="hidden" name="post_id"  id="post_id" value="{{ id }}">
          <div class="form-group">
            <label for="title">Заголовок поста</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ title }}">
          </div>
          <div class="form-group">
            <label for="content">Содержимое поста</label>
            <textarea class="form-control" name="content" id="content" rows="10" >
                {{ content }}
            </textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Обновить</button>
          </div>


        </form>

    </div>
</div>

{% endblock %}

action="{% url 'update_post' %}